In [1]:
import os

os.chdir("../../")

In [2]:
import json
import numpy as np
import pandas as pd

from src.ner_pipeline.data_ingestion import load_llm_data
from src.ner_pipeline.utils import load_patients_entities
from src.ner_pipeline.universal_ner import combine_patient_entities_with_expected_20

In [3]:
data = load_llm_data()[0:20]

In [4]:
# patients_entities = generate_patients_entities(data, ["person", "NHS number", "age", "diagnosis"])

patient_entities = load_patients_entities()

In [11]:
patient_entity_df = combine_patient_entities_with_expected_20(patient_entities)
patient_entity_df

,patient_id,entity_name,output,output_length,output_type,text,output_any,expected_output,expected_output_length,output_length_match
0,0,person,[Mr. Brandon McLaughlin],1,1,Mr. Brandon McLaughlin is a 13-year-old male o...,1,[Brandon McLaughlin],1,True
1,0,NHS number,[568 968 0803],1,1,Mr. Brandon McLaughlin is a 13-year-old male o...,1,[568 968 0803],1,True
2,0,age,[],0,1,Mr. Brandon McLaughlin is a 13-year-old male o...,0,[13],1,False
3,0,diagnosis,[acute bronchitis],1,1,Mr. Brandon McLaughlin is a 13-year-old male o...,1,[acute bronchitis],1,True
4,1,person,[Mr. Esteban Altenwerth],1,1,Mr. Esteban Altenwerth is a 20-year-old White ...,1,[Esteban Altenwerth],1,True
...,...,...,...,...,...,...,...,...,...,...
75,18,diagnosis,[viral sinusitis],1,1,Reggie Langosh is a 12 year old male (D.O.B. 1...,1,[viral sinusitis],1,True
76,19,person,"[Ms. Luann Hills, Florine Windler]",2,1,Ms. Luann Hills is a 19-year-old female with t...,1,"[Luann Hills, Florine Windler]",2,True
77,19,NHS number,[999 395 1923],1,1,Ms. Luann Hills is a 19-year-old female with t...,1,[999 395 1923],1,True
78,19,age,[],0,1,Ms. Luann Hills is a 19-year-old female with t...,0,[19],1,False
79,19,diagnosis,[],0,1,Ms. Luann Hills is a 19-year-old female with t...,0,[acute bronchitis],1,False

In [12]:
entity_prevalence = patient_entity_df[["entity_name", "output_length_match"]].groupby("entity_name").sum("output_length_match")/20
entity_prevalence

             output_length_match
entity_name
NHS number                  1.00
age                         0.65
diagnosis                   0.60
person                      0.80

In [13]:
entity_any = patient_entity_df[["entity_name", "output_any"]].groupby("entity_name").sum("output_any")/20
entity_any

             output_any
entity_name
NHS number         1.00
age                0.65
diagnosis          0.65
person             1.00

In [10]:
data[3]

'\n\nMrs. Pam Boehm is a 54-year-old female of Black or Black British - Caribbean ethnicity, married, with an NHS number of 639 189 7032. She visited the Bitterne Surgery on 26th March 1975 for treatment of viral sinusitis. Additional findings include stress and a criminal record.'

In [14]:
patient_entity_df[patient_entity_df["entity_name"] == "person"]

,patient_id,entity_name,output,output_length,output_type,text,output_any,expected_output,expected_output_length,output_length_match
0,0,person,[Mr. Brandon McLaughlin],1,1,Mr. Brandon McLaughlin is a 13-year-old male o...,1,[Brandon McLaughlin],1,True
4,1,person,[Mr. Esteban Altenwerth],1,1,Mr. Esteban Altenwerth is a 20-year-old White ...,1,[Esteban Altenwerth],1,True
8,2,person,"[Mr. Ervin O'Connell, Dr. Randa Ritchie]",2,1,"Mr. Ervin O'Connell, born on 1964-04-14 and cu...",1,"[Ervin O'Connell, Randa Ritchie]",2,True
12,3,person,[Pam Boehm],1,1,Mrs. Pam Boehm is a 54-year-old female of Blac...,1,[Pam Boehm],1,True
16,4,person,[Mrs. Mirta Mosciski],1,1,"Mrs. Mirta Mosciski (NHS number: 231 157 0705,...",1,[Mirta Mosciski],1,True
20,5,person,"[Mr., Pierre Hyatt, Doctor Mercy Kuhlman]",3,1,Mr. Pierre Hyatt is a 36-year-old male of Asia...,1,"[Pierre Hyatt, Mercy Kuhlman]",2,False
24,6,person,[Ms. Angela Collier],1,1,Ms. Angela Collier is a 2-year-old female with...,1,[Angela Collier],1,True
28,7,person,[Mr. Shannon Borer],1,1,Mr. Shannon Borer is a 40 year old male with a...,1,[Shannon Borer],1,True
32,8,person,[Delmy Halvorson],1,1,Delmy Halvorson is a 9 year old female with a ...,1,[Delmy Halvorson],1,True
36,9,person,[Mrs. Myra Schamberger],1,1,Mrs. Myra Schamberger is a 36-year-old Black o...,1,[Myra Schamberger],1,True
40,10,person,"[Cristy Robel, Dr Emory Schuster]",2,1,Cristy Robel is a 4 year old female who was bo...,1,"[Cristy Robel, Emory Schuster]",2,True
44,11,person,[Ms. Dorie Baumbach],1,1,Ms. Dorie Baumbach is a 21-year-old female pat...,1,"[Dorie Baumbach, Baumbach]",2,False
48,12,person,"[Ms. Deidra Corkery, Almeda Okuneva]",2,1,Ms. Deidra Corkery is a 43 year old female wit...,1,"[Deidra Corkery, Corkery, Almeda Okuneva, Cork...",4,False
52,13,person,"[Wendell Oberbrunner, Dr. Ivette Wunsch]",2,1,Wendell Oberbrunner is a 4-year-old male of mi...,1,"[Wendell Oberbrunner, Ivette Wunsch]",2,True
56,14,person,"[Ethan Kutch, Dylan Robel]",2,1,Ethan Kutch is a 2 year old male patient with ...,1,"[Ethan Kutch, Dylan Robel]",2,True
60,15,person,"[Mr. Lupe Cassin, Dr. Michel Zulauf]",2,1,Mr. Lupe Cassin is a 74 year old Black or Blac...,1,"[Lupe Cassin, Michel Zulauf]",2,True
64,16,person,[Mrs. Logan Schaden],1,1,Mrs. Logan Schaden is a 49-year-old White - Ir...,1,"[Logan Schaden, Schaden]",2,False
68,17,person,"[Mr. Jaime Sauer, Seth Dare]",2,1,"Mr. Jaime Sauer is a 54 year-old male, born on...",1,"[Jaime Sauer, Seth Dare]",2,True
72,18,person,[Reggie Langosh],1,1,Reggie Langosh is a 12 year old male (D.O.B. 1...,1,[Reggie Langosh],1,True
76,19,person,"[Ms. Luann Hills, Florine Windler]",2,1,Ms. Luann Hills is a 19-year-old female with t...,1,"[Luann Hills, Florine Windler]",2,True